*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    height: 100vh;
    background-color: rgb(202, 17, 17);
}

header{
    padding: 3px 10px;
}
.header_button_container{
    display: flex;
    justify-content: flex-end;
}
.header_button{
    color: white;
    background-color: rgb(156, 156, 156);
    padding: 5px 3px;
    border-radius: 0.5rem;
}



.container{
    width: 90%;
    margin: 0 auto;
    display: flex;

}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    
}

.col{
    
    width: calc((100%/14)*2);
    padding: 0.5rem;
    
}
.card{
   width: 100%;
}